<!-----
		 ON CALL ENTRIES IN TABULAR FORMAT,
		 NEW ENTRY COLLAPSIBLE FORM
		 										--------->
<html ng-app="TrackerApp">
<head>

<meta charset="utf-8">
<title>Sysco On-Call Assistant</title>

<!------------- Link the CSS  --------------------------->
<link rel="stylesheet" type="text/css" href="mainstyle.css">
<!-- load our custom css -->
</head>
<body ng-controller="mainController">

	<!-------------Page Header--------------------------->
	<header>
		<h1>Sysco Canada - On Call Tracker</h1>
		<a href="https://github.com/prasanna-nadimpalli/oncallassistant">
			<img src="images/GitHub-Mark-Light-120px-plus.png"
			alt="Link to Source" style="width: 30px; height: 30px; border: 0;">
		</a>
	</header>
	<br>
	<br>
	<!-------------Search Box --------------------------->
	<div class="SearchBox">
		<input class="box-blue" ng-model="query"
			placeholder="Type search term or keyword e.g.invoice etc."
			type="text" size="80" /> <br> <br>
	</div>


	<!-------------Display table and make it sort-able by Header field --------------------------->
	<div style="overflow-x: auto;">
		<table>
			<tr>
				<th><a href=""
					ng-click="sortField ='incident'; reverse = !reverse">Incident
						ID</a></th>
				<th><a href=""
					ng-click="sortField = 'date'; reverse = !reverse">Date
						(MM/DD/YY)</a></th>
				<th><a href=""
					ng-click="sortField = 'time'; reverse = !reverse">Time</a></th>
				<th><a href=""
					ng-click="sortField = 'oncalldeveloper'; reverse = !reverse">On
						Call Developer</a></th>
				<th><a href=""
					ng-click="sortField = 'opco'; reverse = !reverse">OPCO</a></th>
				<th><a href=""
					ng-click="sortField = 'application'; reverse = !reverse">Application</a></th>
				<th><a href=""
					ng-click="sortField = 'issuedescription'; reverse = !reverse">Issue
						Description</a></th>
				<th><a href=""
					ng-click="sortField = 'solution'; reverse = !reverse">Solution</a></th>
				<th><a href=""
					ng-click="sortField = 'followupactionrequired'; reverse = !reverse">Followup
						Action Required</a></th>
				<th><button type="button" class="btn btn-default btn-sm"
						ng-click='getnewentryForm("/newentryform")'>
						<span class="glyphicon glyphicon-plus" style="font-size: 30px;"></span>
					</button></th>
			</tr>
			<tr
				ng-repeat="incidentRecord in oncalls| filter:query | orderBy:sortField:reverse">
				<td>{{incidentRecord.incident}}</td>
				<td>{{incidentRecord.date}}</td>
				<!-- 				<td>{{incidentRecord.time}}</td> -->
				<td ng-bind="incidentRecord.time | date:'h:mm a'"</td>
				<td>{{incidentRecord.oncalldeveloper}}</td>
				<td>{{incidentRecord.opco}}</td>
				<td>{{incidentRecord.application}}</td>
				<td>{{incidentRecord.issuedescription}}</td>
				<td>{{incidentRecord.solution}}</td>
				<td>{{incidentRecord.followupactionrequired}}</td>
				<td><button type="button" class="btn btn-default btn-sm"
						ng-click='getOnCall(incidentRecord._id, "/editform/"+incidentRecord._id)'>
						<span class="glyphicon glyphicon-pencil" style="font-size: 30px;"></span>
					</button></td>
			</tr>
		</table>
	</div>
</body>
</html>